@import url('https://fonts.googleapis.com/css?family=Fresca|Raleway:400,700');

body {
  font-family: 'Raleway', sans-serif;
}

.brand {
  font-family: 'Fresca', sans-serif;
}

.topic {
  display: inline;
  padding: 0 10px;
  font-size: 2em;
  color: red;
}

.selected {
  font-weight: 700;
  text-decoration: underline;
  color: #337ab7;
}
