@import url('https://fonts.googleapis.com/css?family=Fresca|Raleway:400,700');

body {
  font-family: 'Raleway', sans-serif;
}

.brand {
  font-family: 'Fresca', sans-serif;
}

.topic {
  display: inline;
  padding: 0 10px;
  font-size: 2em;
  color: red;
}

#weather-today-main, #today-weather-misc {
  padding: 20px 20px 0 20px;
}

.selected {
  font-weight: 700;
  text-decoration: underline;
  color: #337ab7;
}

#weather-today-date {
  font-weight: bold;
  font-size: 3em;
}

#weather-today-icon {
  font-size: 10em;
}

#weather-today-max {
  font-size: 5em;
}

#weather-today-min {
  font-size: 4em;
}

#today-weather-misc {
  font-size: 2.5em;
}
