.topic {
  display: inline;
  padding: 0 5px;
}

@import url('https://fonts.googleapis.com/css?family=Fresca|Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

.brand {
  font-size: 2em;
  font-family: 'Fresca', sans-serif;
}
